*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-family: popins;  
}
   
html {
    font-size: 62.5%;
}
:root {
    --red: #ed1c24;
    --white: #ffffff;
    --black: #000000;
    --green: #28a745;
    --grey:  #0f0f0f;
}
@font-face {
    font-family: popins;
    src: url(./fonts/Poppins-Light.ttf);
}

.text-center{
    text-align: center;
}

.text-none {
    text-decoration: none;
}

.text-white{
    color: #ffffff;
}

.bg-red {
    background-color: red;
    background-color: var(--red);
}
.bg-white {
    background-color: var(--white);
}
.bg-black {
    background-color: var(--black);
}
.bg-green {
    background-color: var(--green);
}
.bg-grey {
    background-color: var(--grey);
}
.text-red {
    color: var(--red);
}
.text-white {
    color: var(--white);
}
.text-black {
    color: var(--black);
}
.text-green {
    color: var(--green);
}
.text-grey {
    color: var(--grey);
} */

.d-flex {
    display: flex;
}

.justify-around {
    justify-content: around;
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}
.justify-between {
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap
}

.gap-1{
    gap: 5px;
}
.gap-2{
    gap: 10px;
}
.gap-3{
    gap: 15px;
}
.gap-4{
    gap: 20px;
}
.gap-5{
    gap: 25px;
}
.flex-column{
    flex-direction: column;
} 
.flex-row{
    flex-direction: row;
}

.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}
.m-5{
    margin: 25px;
}
.border{
    border: 1px solid var(--white);
}
.rounded{
    border-radius: 30px;
    cursor: pointer;
}